.background-loggedpage {
  width: 100%;
  background-image: url('../../../assets/images/bgAbout.png');
  background-position: center;
  object-fit: fill;
  background-size: cover;
  background-attachment: fixed;
  min-height: calc(100% - 50px);
}

.container-agenda {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

.title-agenda {
  text-align: center;
  margin: 40px 0;
  font-weight: lighter;
  font-size: 35px;
}

.new-schedule {
  margin-bottom: 20px;
  width: 200px;
  padding: 8px;
  border: 0;
  border-radius: 10px;
  letter-spacing: 0.2px;
  font-weight: lighter;
  font-size: 16px;
  font-style: italic;
  color: rgb(255, 255, 255);
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.524), rgb(129, 69, 69));
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 2px 2px 4px 2px rgba(1, 1, 1, 0.609);
  transition: 0.3s ease-in;
  text-decoration: none;
}

.new-schedule:hover {
  box-shadow: 4px 4px 4px 2px rgba(1, 1, 1, 0.609);
}

.new-schedule:active {
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.3) inset;
}

.new-schedule:hover {
  transition: 1s ease-in;
  box-shadow: 4px 4px 3px 1px rgb(50, 50, 50);
}

.new-schedule:active {
  transition: 1s ease-in;
  box-shadow: 1px 1px 1px 1px rgb(70, 70, 70) inset;
}

.return {
  padding: 7px;
}

.wrapper-create {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 550px;
  max-width: 800px;
  margin: 20px auto;
  background-color: rgba(175, 124, 77, 0.693);
  border-radius: 20px;
}

.wrap-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.title-create {
  text-align: center;
  font-weight: lighter;
  font-size: 35px;
  margin: 15px 0;
}

.create-schedule {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  justify-content: center;
  margin: 0 auto;
}

.label-create {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.898);
  margin-bottom: 1px;
}

.input-create {
  border: 0;
  outline: 0;
  border-radius: 10px;
  padding: 9px;
  margin-bottom: 15px;
  margin-top: 7px;
}

.textarea {
  resize: none;
  height: 50px;
  border: 1px solid rgb(255, 255, 255);
  padding: 8px;
}

.btn-create {
  margin: 20px 0;
  padding: 9px;
  width: 100%;
  border: 0;
  border-radius: 10px;
  font-weight: lighter;
  font-size: 16px;
  font-style: italic;
  color: rgb(255, 255, 255);
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.524), rgb(129, 69, 69));
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 2px 2px 4px 2px rgba(1, 1, 1, 0.609);
  transition: 0.3s ease-in;
  text-decoration: none;
}

.btn-create:hover {
  box-shadow: 4px 4px 4px 2px rgba(1, 1, 1, 0.609);
}

.btn-create:active {
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.3) inset;
}

.wrapper-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px 20px;
}


@media screen and (max-width: 1500px) {
  .container-agenda {
    max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper-create {
    max-width: 500px;
  }
}

@media screen and (max-width: 500px) {
  .wrapper-create {
    max-width: 350px;
  }

  .label-create {
    margin-left: 20px;
  }

  .input-create {
    width: 90%;
    margin: 10px auto;
  }

  .btn-create {
    width: 90%;
  }
}
