.bg-loggedpage {
  width: 100%;
  background-image: url('../../../assets/images/bgAbout.png');
  background-position: center;
  object-fit: fill;
  background-size: cover;
  background-attachment: fixed;
  min-height: calc(100% - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-img {
  width: 400px;
  height: 400px;
  background-image: url('../../../assets/images/logo.png');
  background-size: cover;
}

